portainer.hreddy.in {
  reverse_proxy portainer:9000
}

filebrowser.hreddy.in {
  reverse_proxy filebrowser:8080
}

# Stirling-PDF setup
stirling.hreddy.in {
  reverse_proxy stirling-pdf:8080
}

# Test foundry VTT server
test.hreddy.in {
  reverse_proxy foundry_test:30000
}

# Main foundry VTT server
dnd.hreddy.in {
  reverse_proxy foundry_server:30000
}

# Firefly III for personal finance management
firefly.hreddy.in {
  reverse_proxy app:8080
}

# Firefly III importer setup
importer.hreddy.in {
  reverse_proxy importer:8080
}

# Subscription overview service
wallos.hreddy.in {
  reverse_proxy wallos:80
}

# Pingvin Share for file hosting and sharing
pingvin.hreddy.in {
  reverse_proxy pingvin-share:3000
}

# Homepage setup
home.hreddy.in {
  reverse_proxy homepage:3000
}

# Form filler setup
form.hreddy.in {
  reverse_proxy ohmyform:3000
}

# Epic games free game captcha
epicgames.hreddy.in {
  reverse_proxy epicgames:3000
}

# Code snippet container
snippets.hreddy.in {
  reverse_proxy snippet-box:5000
}

# syncthing.hreddy.in {
#   reverse_proxy syncthing:8384
# }
